body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    margin-top: 5%;
    border-radius: 30px;


    
}
form input{
    width: 230px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: none;
      background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
form select{
    width: 230px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: none;
    
}
form input:hover{
    border: 2px solid orangered;
}
form input:nth-child(5):hover{
    background-color: orangered;
    color: white;
}